<div align='center'>
<p id='topbanner'></p>
<p id='star-bottom'>AMERICA</p><p id='star-top'>FUCK YEAH</p>
<p id='middlebackground'></p>
<p id='left_border'>Test</p>
<p id='right_border'>Test2</p>
<div class='main'><br>
<div class='tweet_left'><p class='user_name_left'>Eric Cantor</p><p class='user_image_left'><img height='65px' width='65px' src='http://pbs.twimg.com/profile_images/659782910732472320/EdE0I4dj_normal.jpg'></img></p><div class='tweet_body_left'><div class='celTweet'><i>Original tweet by  </i><u>D'Angelo Russell</u><i>:</i> RT @<a class="tweet-url username" href="https://twitter.com/NBA2K" rel="nofollow">NBA2K</a>: Yes they will be, @<a class="tweet-url username" href="https://twitter.com/Dloading" rel="nofollow">Dloading</a>! <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23NBA2K17" rel="nofollow" title="#NBA2K17">#NBA2K17</a> <a href="https://t.co/yGqx8Gpbv4" rel="nofollow">https://t.co/yGqx8Gpbv4</a></div><div class='polTweet'>Our country is in trouble. News headlines keep reading RT @<a class="tweet-url username" href="https://twitter.com/NBA2K" rel="nofollow">NBA2K</a>: Yes they will be, @<a class="tweet-url username" href="https://twitter.com/Dloading" rel="nofollow">Dloading</a>! <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23NBA2K17" rel="nofollow" title="#NBA2K17">#NBA2K17</a> <a href="https://t.co/yGqx8Gpbv4" rel="nofollow">https://t.co/yGqx8Gpbv4</a></div></div></div>
<br><br>
<div class='tweet_right'><p class='user_name_right'>Jim DeMint</p><p class='user_image_right'><img height='65px' width='65px' src='http://pbs.twimg.com/profile_images/700323705281339394/tdx4s8yd_normal.jpg'></img></p><div class='tweet_body_right'><div class='celTweet'><i>Original tweet by  </i><u>DWade</u><i>:</i> Awe Man <a href="https://t.co/MtAzhAAYBX" rel="nofollow">https://t.co/MtAzhAAYBX</a></div><div class='polTweet'>Please don't misunderestimate this: Awe Man <a href="https://t.co/MtAzhAAYBX" rel="nofollow">https://t.co/MtAzhAAYBX</a> <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%236thSenatorOTY" rel="nofollow" title="#6thSenatorOTY">#6thSenatorOTY</a></div></div></div>
</div>
<p id='bottomborder'><a href='mailto:solomonwurzbach@gmail.com'>solomon wurzbach.</a></p></div>
