<div align='center'>
<p id='topbanner'>Test</p>
<p id='star-bottom'>AMERICA</p><p id='star-top'>FUCK YEAH</p>
<p id='middlebackground'></p>
<p id='left_border'></p>
<p id='right_border'></p>
<div class='main'><br>
<div class='tweet_left'><p class='user_name_left'>Jim Webb</p><p class='user_image_left'><img height='65px' width='65px' src='http://pbs.twimg.com/profile_images/603792003298656258/uAchir_7_normal.jpg'></img></p><div class='tweet_body_left'><div class='celTweet'><i>Original tweet by  </i><u>Metta World Peace</u><i>:</i> "The Panda's Friend experience" challenge with Japan was great.Great bringing people <a href="https://t.co/OvlS8kO7T8" rel="nofollow">https://t.co/OvlS8kO7T8</a> <a href="https://t.co/ocdGaDcky2" rel="nofollow">https://t.co/ocdGaDcky2</a></div><div class='polTweet'>Please don't misunderestimate this: "The Panda's Friend experience" challenge with Japan was American .Great bringing people <a href="https://t.co/OvlS8kO7T8" rel="nofollow">https://t.co/OvlS8kO7T8</a> <a href="https://t.co/ocdGaDcky2" rel="nofollow">https://t.co/ocdGaDcky2</a> <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23SueMe" rel="nofollow" title="#SueMe">#SueMe</a></div></div></div>
<br><br>
<div class='tweet_right'><p class='user_name_right'>D Wasserman Schultz</p><p class='user_image_right'><img height='65px' width='65px' src='http://pbs.twimg.com/profile_images/749211095877849091/qgaHhkH7_normal.jpg'></img></p><div class='tweet_body_right'><div class='celTweet'><i>Original tweet by  </i><u>Nick Young</u><i>:</i> OOOUUU <a href="https://t.co/vjsXgMcajb" rel="nofollow">https://t.co/vjsXgMcajb</a></div><div class='polTweet'>OOOUUU <a href="https://t.co/vjsXgMcajb" rel="nofollow">https://t.co/vjsXgMcajb</a> and I'm getting really, really sick of these amoral athiest liberals destroying America. <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23fromDOWNTOWN" rel="nofollow" title="#fromDOWNTOWN">#fromDOWNTOWN</a> <a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23allyouneediskill" rel="nofollow" title="#allyouneediskill">#allyouneediskill</a></div></div></div>
</div>
<p id='bottomborder'><a href='mailto:solomonwurzbach@gmail.com'>solomon wurzbach.</a></p></div>
