<div align='center'>
<p id='topbanner'></p>
<p id='star-bottom'>AMERICA</p><p id='star-top'>FUCK YEAH</p>
<p id='middlebackground'></p>
<div class='main'><br>
<div class='tweet_left'><p class='user_name_left'>Sarah Palin</p><p class='user_image_left'><img height='65px' width='65px' src='http://pbs.twimg.com/profile_images/613558475306590208/VtKNgYMU_normal.png'></img></p><div class='tweet_body_left'><div class='celTweet'><i>Original tweet by  </i><u>J.E. Skeets</u><i>:</i> Really enjoyed the @<a class="tweet-url username" href="https://twitter.com/JJRedick" rel="nofollow">JJRedick</a> / @<a class="tweet-url username" href="https://twitter.com/BillSimmons" rel="nofollow">BillSimmons</a> podcast on @<a class="tweet-url username" href="https://twitter.com/TheVertical" rel="nofollow">TheVertical</a>. I laughed every time JJ said "secret sauce."</div><div class='polTweet'>Really enjoyed the @<a class="tweet-url username" href="https://twitter.com/JJRedick" rel="nofollow">JJRedick</a> / @<a class="tweet-url username" href="https://twitter.com/BillSimmons" rel="nofollow">BillSimmons</a> wiretap  on @<a class="tweet-url username" href="https://twitter.com/TheVertical" rel="nofollow">TheVertical</a>. I laughed every time JJ said "secret sauce." And to my opponent, why don't you purify yourself in the waters of Lake Minnetonka?</div></div></div>
<br><br>
<div class='tweet_right'><p class='user_name_right'>Governor Walker</p><p class='user_image_right'><img height='65px' width='65px' src='http://pbs.twimg.com/profile_images/561234118864670720/gasKlzlk_normal.jpeg'></img></p><div class='tweet_body_right'><div class='celTweet'><i>Original tweet by  </i><u>Hardwood Paroxysm</u><i>:</i> Meanwhile, some teams just randomly have titles dropped in their laps. It makes you wonder if there’s any real value in trying to build</div><div class='polTweet'>I have a lot of dogs. Meanwhile, some states  just randomly have titles dropped in their laps. It makes you wonder if there’s any real value in trying to build All of this to say I also own a lot of dog whistles.</div></div></div>
</div>
<p id='bottomborder'><a href='mailto:solomonwurzbach@gmail.com'>solomon wurzbach.</a></p></div>
